<f:switch expression="{settings.switchableControllerActions}">

    <f:case value="Person">
        <f:render partial="Person.html" arguments="{_all}" />
    </f:case>

    <f:case value="Product">
        <f:render partial="Product.html" arguments="{_all}" />
    </f:case>

    <f:case value="Website">
        <f:render partial="Website.html" arguments="{_all}" />
    </f:case>

    <f:case value="Business">
        <f:render partial="LocalBusiness.html" arguments="{_all}" />
    </f:case>

    <f:case value="Event">
        <f:render partial="Event.html" arguments="{_all}" />
    </f:case>

    <f:case value="Organization">
        <f:render partial="Organization.html" arguments="{_all}" />
    </f:case>

    <f:case value="Article">
        <f:render partial="Article.html" arguments="{_all}" />
    </f:case>

    <f:case value="JobPosting">
        <f:render partial="JobPosting.html" arguments="{_all}" />
    </f:case>
</f:switch>